.header-navigation__list {
    background-color: #000 !important
  }
  
  .header-navigation__item-link,
  li.header-navigation__child-item {
    font-size: .675rem !important
  }
  
  .header-social__item-link,
  .header-account-link,
  .header-search-btn,
  .header-cart__icon {
    height: 1rem !important
  }
  
  .header-social__item-link {
    width: 1rem !important
  }
  
  .header-social__item {
    margin-right: .5rem !important
  }
  
  .header-account-link,
  .header-search-btn,
  .header-cart__icon {
    margin-right: 0rem !important
  }
  
  img.header__logo-image {
    max-width: 90% !important
  }
  
  #shopify-section-header>div>nav>ul>li:nth-child(1)>a {
    padding-left: .9rem !important
  }
  
  .footer-menu-min__item-link {
    color: #fff !important
  }
  
  .header-navigation__item a:hover,
  .footer-menu-min__item-link:hover {
    color: #cacaca !important
  }
  
  #shopify-section-header>div>div>div.header__left>ul>li:nth-child(1)>a:hover {
    background-image: url(/cdn/shop/files/S_INSTAGRAM_HOVER.svg?v=1683052556) !important
  }
  
  #shopify-section-header>div>div>div.header__left>ul>li:nth-child(2)>a:hover {
    background-image: url(/cdn/shop/files/S_TWITTER_HOVER.svg?v=1683052900) !important
  }
  
  #shopify-section-header>div>div>div.header__left>ul>li:nth-child(3)>a:hover {
    background-image: url(/cdn/shop/files/S_FACEBOOK_HOVER.svg?v=1683053279) !important
  }
  
  #shopify-section-header>div>div>div.header__left>ul>li:nth-child(4)>a:hover {
    background-image: url(/cdn/shop/files/S_SOUNDCLOUD_HOVER.svg?v=1683053833) !important
  }
  
  #shopify-section-header>div>div>div.header__right>a:hover {
    background-image: url(/cdn/shop/files/S_PROFILE_HOVER.svg?v=1683054518) !important
  }
  
  #shopify-section-header>div>div>div.header__right>button.header-search-btn:hover {
    background-image: url(/cdn/shop/files/MAG_CLEAR_HOVER.svg?v=1683057695) !important
  }
  
  #shopify-section-header>div>div>div.header__right>button.header-cart>div.header-cart__icon:hover {
    background-image: url(/cdn/shop/files/S_SHOP_HOVER3.svg?v=1683057149) !important
  }
  
  .home-info__description,
  .product-info__description,
  .about-block-1__description,
  .about-block-2__content p,
  .about-block-4__description,
  .faq p,
  .content--fit-chart .content__header>.content__body>p,
  body>div.wrapper>div.container>section>div.content__body>p,
  .footer-join__description {
    text-align: left !important
  }
  
  .section__description a,
  .product__content-main a,
  .about-article-preview__link,
  .shop-pay-terms,
  p.contacts__description>a,
  div.about-designer-contact__value a,
  div.contacts-info__content>p>a,
  #shopify-section-template--16892480094422__home-slider>section>div.home-slider__footer>div.home-slider__footer-bottom>div.home-slider__footer-bottom-right>div.slider-running-line>div>div:nth-child(1)>a,
  #shopify-section-template--16892480094422__home-slider>section>div.home-slider__footer>div.home-slider__footer-bottom>div.home-slider__footer-bottom-right>div.slider-running-line>div>div:nth-child(2)>a,
  #shopify-section-template--16892480094422__home-slider>section>div.home-slider__footer>div.home-slider__footer-bottom>div.home-slider__footer-bottom-right>div.slider-running-line>div>div:nth-child(3)>a,
  .aboutContact>p>a,
  #shopify-section-template--16895149932758__home-slider>section>div.home-slider__footer>div.home-slider__footer-bottom>div.home-slider__footer-bottom-right>div.slider-running-line>div>div>a {
    color: #29f29f !important
  }
  
  .product-info__description,
  .product-info__price,
  .home-info__description,
  .footer-join__description,
  #shopify-section-template--16885424259286__home-products>section>div.section__description,
  .product-item:before,
  .product-item__price,
  .header-cart__count,
  .product-faq__answer,
  .section__description,
  .breadcrumbs__item-link,
  .filter__caption,
  .about-block-1__description,
  .about-social__caption,
  .about-designer__post,
  .about-designer-contact__caption,
  .faq p,
  body>div.wrapper>div.container>section>div.content__body>p,
  .contacts__description,
  .contacts-info__caption,
  .contacts__form-description,
  .input-box__label,
  p.home-slider__description {
    color: #63625d !important
  }
  
  .about-block-2__content p,
  .about-block-4__description {
    color: #cacaca
  }
  
  .btn,
  .btn:before {
    background-color: #63625d !important;
    color: #fff !important
  }
  
  .header-navigation__item a,
  .footer-menu-min__item-link,
  .careInstructions {
    color: #f8eddb
  }
  
  .bestSellerTable:first-of-type>tbody>tr>td:first-child,
  .bestSellerTable:last-of-type>tbody>tr:first-child,
  .crewTableBackground {
    background-color: #1d1d1d !important
  }
  
  .bestSellerTable:last-of-type>tbody>tr:first-child>th {
    padding-left: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px
  }
  
  .bestSellerTable>tbody>tr>td {
    padding: 10px !important;
    border-bottom: 3px solid #1d1d1d;
    border-right: 3px solid #1d1d1d
  }
  
  .bestSellerTable:last-of-type>tbody {
    border-left: 3px solid #1d1d1d;
    border-top: 3px solid #1d1d1d
  }
  
  .bestSellerTable>tbody>tr {
    color: #fff !important
  }
  
  table.bestSellerTable.mensPants {
    width: 100%
  }
  
  .home-slider__title-line-inner {
    font-size: 2.25rem
  }
  
  .slider-running-line {
    background-image: none !important;
    background-color: #000 !important
  }
  
  .slider-running-line__part {
    color: #cacaca !important
  }
  
  .home-info__description {
    padding: .625rem 2rem
  }
  
  .about-block-1__barcode {
    width: 17rem;
    height: 1.5rem
  }
  
  .about-block-1__description {
    font-size: .625rem;
    width: 23rem
  }
  
  .aboutContact p {
    color: #63625d !important;
    font-size: .725rem;
    letter-spacing: .1em;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: em
  }
  
  p#aboutIntro {
    font-size: .6875rem;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.1;
    margin-bottom: 1em;
    text-transform: uppercase
  }
  
  p.aboutTagline {
    color: #cacaca !important
  }
  
  .about-article-preview__description {
    color: #63625d !important
  }
  
  .about-article-preview__img.hyperCloth {
    background-position: 0
  }
  
  .about-designer__img {
    background-position: 0% !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 13.8125rem !important;
    margin-bottom: .625rem !important
  }
  
  .content__body p {
    color: #cacaca !important
  }
  
  .rte__table-wrapper table td b,
  .rte__table-wrapper table td strong,
  .rte__table-wrapper table th,
  .faq__question {
    color: #fff !important
  }
  
  #contactRunningLine>body>div.wrapper>div.container>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(5),
  #contactRunningLine>body>div.wrapper>div.container>div:nth-child(2)>div>div:nth-child(3)>div:nth-child(5),
  #contactRunningLine>body>div.wrapper>div.container>div:nth-child(2)>div>div:nth-child(1)>div:nth-child(5),
  #contactRunningLine>div>div>div:nth-child(3)>div:nth-child(5),
  #contactRunningLine>div>div>div:nth-child(2)>div:nth-child(5),
  #contactRunningLine>div>div>div:nth-child(1)>div:nth-child(5) {
    display: none !important
  }
  
  #shopify-section-footer>div>ul>li:nth-child(10) {
    display: none !important
  }
  
  .about-designer-contact {
    margin-top: 0 !important
  }
  
  #product_form_7877949358294>div.product-info-form>div.select-border.product-info-form__select>select:hover {
    background-color: purple !important
  }
  
  .footer-menu {
    margin-top: 1rem !important;
    margin-bottom: 3rem !important
  }
  
  .footer-menu__item-link {
    font-size: 2rem
  }
  
  .select-border.product-info-form__select select option:hover {
    background-color: pink !important
  }
  
  @media (max-width: 810px) {
    .home-info__description {
      max-width: 14rem !important
    }
  
    .footer-menu__item-link {
      font-size: 1rem
    }
  
    about-articles.about-article-top {
      padding-bottom: 4.5rem !important
    }
  }
  
  /*# sourceMappingURL=/cdn/shop/t/56/assets/custom.css.map?v=75637179993237078921689395290 */